<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Aureo front controller" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php" />
        </rule>
      </rules>
    </rewrite>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment=".git" />
          <add segment="db" />
          <add segment="tests" />
          <add segment="bin" />
          <add segment="node_modules" />
          <add segment="var" />
          <add segment="log" />
          <add segment="config" />
          <add segment="vendor" />
        </hiddenSegments>
        <fileExtensions allowUnlisted="true">
          <add fileExtension=".env" allowed="false" />
          <add fileExtension=".log" allowed="false" />
          <add fileExtension=".sql" allowed="false" />
          <add fileExtension=".md" allowed="false" />
          <add fileExtension=".lock" allowed="false" />
          <add fileExtension=".json" allowed="false" />
          <add fileExtension=".xml" allowed="false" />
          <add fileExtension=".dist" allowed="false" />
          <add fileExtension=".yml" allowed="false" />
          <add fileExtension=".yaml" allowed="false" />
        </fileExtensions>
      </requestFiltering>
    </security>
    <directoryBrowse enabled="false" />
  </system.webServer>
</configuration>
